{{'vessel-health.22e6642b9.min.css' | asset_url | stylesheet_tag}}
<section id="contact-form" class="contact-form wf-section">
    <div class="w-container">
        <h2 class="heading-65">Join the Longevity waitlist</h2>
        <p class="paragraph-48">Stay in the loop on progress and be one of the first to try out Vessel's new longevity program.</p>
        <div id="formInstructions" class="small-text">
            <em></em>
        </div>
        <div class="w-form">
            {%- form 'contact', id: 'wf-form-Contact-Form' -%}
                {%- if form.posted_successfully? -%}
                    <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
                    {%- elsif form.errors -%}
                    <div class="form__message">
                        <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
                    </div>
                    <ul class="form-status-list caption-large" role="list">
                        <li>
                        <a href="#ContactForm-email" class="link">
                            {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                        </a>
                        </li>
                    </ul>
                {%- endif -%}
                <div id="Longevity-Form" class="contact-form-grid">
                    <div id="w-node-_752b1519-e37e-f942-cc8b-c1ac860d7816-f61bc70b">
                        <label for="First-Name" id="contact-first-name" class="field-label-3">Name*</label>
                        <input type="text" class="text-field-6 w-input" maxlength="256" name="contact[First-Name]" data-name="First Name" placeholder="" id="First-Name" required="">
                    </div>
                    <div id="w-node-_752b1519-e37e-f942-cc8b-c1ac860d781a-f61bc70b">
                        <label for="First-Name" id="email" class="field-label-3">Email*</label>
                        <input type="text" class="text-field-6 w-input" maxlength="256" name="contact[First-Name-2]" data-name="First Name 2" placeholder="" id="First-Name-2" required="">
                    </div>
                    <div id="w-node-_752b1519-e37e-f942-cc8b-c1ac860d781e-f61bc70b" class="div-block-252">
                        <input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
                    </div>
                </div>
            {% endform %}
            <div class="success-message w-form-done">
                <div>Thank you! We will notify you once our longevity product is ready to go. As a special gift, you can use the discount code, <strong>LONGEVITY20</strong> on any Vessel products for 20% off your order. You can <a href="/pages/membership">learn more about our Wellness Test Cards here.</a></div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Longevity",
    "settings": [
        
    ]
}
{% endschema %}