{{ 'mh-video.css' | asset_url | stylesheet_tag }}

<div class="mh-video">
    <div class="page-width responsive-page-width">
        {% if section.settings.title != blank or section.settings.text != blank %}
        <div class="mh-section-header video_header grid-flex grid-flex-grow medium-up--2-col">
            {% if section.settings.title != blank %}
            <div class="grid_item">
                <h1 class="video_title section_title">{{ section.settings.title | escape | newline_to_br }}</h1>
            </div>
            {% endif %}

            {% if section.settings.text != blank %}
            <div class="grid_item">
                <div class="video_content section_content">
                 
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if section.settings.video_iframe != blank %}
        <div class="video-container">
            {{ section.settings.video_iframe }}
        </div>
        {% endif %}
    </div>
</div>

<style>
    #shopify-section-{{ section.id }} .mh-video {
        background-color: {{ section.settings.bg_color }};
    }
</style>

{% schema %}
{
    "name": "Video",
    "tag": "section",
    "class": "mh-video-section",
    "settings": [
        {
            "type": "textarea",
            "id": "title",
            "label": "Title",
            "default": "Video"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p></p>"
        },
        {
            "type": "html",
            "id": "video_iframe",
            "label": "Custom Video iframe"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Section background"
        }
    ],
    "presets": [
        {
            "name": "Video by RG"
        }
    ]
}
{% endschema %}