{% assign image     = section.settings.image %}
{% assign image_mob = section.settings.image_mob %}
{% assign title     = section.settings.title %}
{% assign text      = section.settings.text %}
{% assign btn_text  = section.settings.btn_text %}

<div class="slide__content">
	<header class="step-header">
		<a href="https://vesselhealth.com" data-prev-page class="quiz-btn-back back-home">{% include 'quiz-arrow-back' %}</a>
		{% comment %}<span class="step-header__title">Sleep</span>{% endcomment %}
	</header>
	<div class="step-content step1-intro-content">
		{% if image != blank and image_mob != blank %}
			<picture>
				<source srcset="{{ image | img_url: 'master' }}" media="(min-width: 600px)">
				<source srcset="{{ image_mob | img_url: 'master' }}" media="(max-width: 600px)">
				<img class="step1-intro-content__img" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
			</picture>
		{% endif %}
		{% if title != blank %}
			<h3 class="step1-intro-content__title">{{ title }}</h3>
		{% endif %}
		{% if text != blank %}
			<p class="step1-intro-content__text">{{ text }}</p>
		{% endif %}
	</div>
	<div class="step-btn step-btn--cust">
		<button class="step-button" onclick="nextSlideToFour()">{{ btn_text }}</button>
	</div>
</div>

<script>
	function nextSlideToFour() {
		window.quiz.store.swiper.slideTo(4);
	}
</script>	


{% schema %}
{
	"name": "Step 1",
	"tag": "div",
	"class": "swiper-slide slider__slide slider__slide--100vh",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "image_mob",
			"label": "Mobile image"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "textarea",
			"id": "text",
			"label": "Text"
		},
		{
			"type": "text",
			"id": "btn_text",
			"label": "Button text",
			"default": "Get started"
		}
    ]
}
{% endschema %}