{{ 'section-evaluates.css' | asset_url | stylesheet_tag }}



<div class="container-41 home7-0-41 w-container">

  <div class="columns-11 _7-0-11 evaluates-11 w-row type--{{section.settings.heading_type}}">

    <div class="column-28 w-col w-col-6">
      <h2 class="whatvesselevaluates-h2">
        {{section.settings.title}}
      </h2>
    </div>

    <div class="column-27 w-col w-col-6">
      <div class="paragraph-35 _7-0evaluates">
        <p>
          {{section.settings.text}}
        </p>
        {% if section.settings.button_title != blank %}
        <a class="dark-bt main-section-bt w-button" href="{{section.settings.button_link}}">{{section.settings.button_title}}</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="columns-11 _7-0-11 evaluate-headers w-row">

    <div class="column-28 w-col w-col-8 w-col-small-6 w-col-tiny-6">
      <h2 class="evaluates-title tests">Tests</h2>
    </div>

    <div class="column-27 w-col w-col-4 w-col-small-6 w-col-tiny-6">
      <h2 class="evaluates-title">Impact</h2>
    </div>
  </div>
  <div data-duration-in="300" data-duration-out="100" data-current="Magnesium-Tab1" data-easing="ease"
    class="evaluate-tabs new w-tabs">
    <div class="tabs-menu-2 verticalspacing-tabs w-tab-menu" role="tablist">
      <a data-w-tab="Magnesium-Tab1"
        data-line="Magnesium" class="tablink-evaluates mag-tab w-inline-block w-clearfix w-tab-link w--current"
        id="w-tabs-0-data-w-tab-0" href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0"
        aria-selected="true">
        <div class="div-block-186 _7-0-greenbg magnesium-186 tabmenu">
          <div class="ss-link evaluates-ss activetext">Magnesium<br></div>
          <div class="div-block-218"></div>
        </div>
      </a>
      <a data-w-tab="Cortisol-Tab2" data-line="Cortisol"
        class="tablink-evaluates corisol-tab w-inline-block w-clearfix w-tab-link" tabindex="-1"
        id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab" aria-controls="w-tabs-0-data-w-pane-1"
        aria-selected="false">
        <div class="div-block-186 _7-0-greenbg cortisol-186 tabmenu">
          <div class="ss-link evaluates-ss activetext">Cortisol<br></div>
          <div class="div-block-218"></div>
        </div>
      </a>
      <a data-w-tab="Vitamin B7 -Tab3" data-line="B7"
        class="tablink-evaluates vitb7-tab w-inline-block w-clearfix w-tab-link" tabindex="-1"
        id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab" aria-controls="w-tabs-0-data-w-pane-2"
        aria-selected="false">
        <div class="div-block-186 vit-b7 active _7-0-width">
          <div class="ss-link evaluates-ss mobile-ss">Vitamin B7<br></div>
          <div class="ss-link evaluates-ss b7-ss activetext">Vitamin B7 (Biotin)<br></div>
          <div class="comingsoon b7">(Biotin)</div>
          <div class="div-block-218"></div>
        </div>
      </a>
      <a data-w-tab="Vitamin C-Tab4" data-line="Vitamin C"
        class="tablink-evaluates vitc-tab w-inline-block w-clearfix w-tab-link" tabindex="-1" id="w-tabs-0-data-w-tab-3"
        href="#w-tabs-0-data-w-pane-3" role="tab" aria-controls="w-tabs-0-data-w-pane-3" aria-selected="false">
        <div class="div-block-186 _7-0-greenbg vitc-186 tabmenu">
          <div class="ss-link evaluates-ss activetext">Vitamin C<br></div>
          <div class="div-block-218"></div>
        </div>
      </a>
      <a data-w-tab="pH - Tab5" data-line="pH" class="tablink-evaluates ph-tab w-inline-block w-clearfix w-tab-link"
        tabindex="-1" id="w-tabs-0-data-w-tab-4" href="#w-tabs-0-data-w-pane-4" role="tab"
        aria-controls="w-tabs-0-data-w-pane-4" aria-selected="false">
        <div class="div-block-186 _7-0-greenbg ph-186 tabmenu">
          <div class="ss-link evaluates-ss activetext">pH<br></div>
          <div class="div-block-218"></div>
        </div>
      </a>
      <a data-w-tab="Hydration-Tab6" data-line="Hydration"
        class="tablink-evaluates hydration-tab w-inline-block w-clearfix w-tab-link" tabindex="-1"
        id="w-tabs-0-data-w-tab-5" href="#w-tabs-0-data-w-pane-5" role="tab" aria-controls="w-tabs-0-data-w-pane-5"
        aria-selected="false">
        <div class="div-block-186 _7-0-greenbg hydration-186 tabmenu">
          <div class="ss-link evaluates-ss activetext">Hydration<br></div>
          <div class="div-block-218"></div>
        </div>
      </a>
      <a data-w-tab="KetoneA-Tab7" data-line="Ketones"
        class="tablink-evaluates ketonea w-inline-block w-clearfix w-tab-link" tabindex="-1" id="w-tabs-0-data-w-tab-6"
        href="#w-tabs-0-data-w-pane-6" role="tab" aria-controls="w-tabs-0-data-w-pane-6" aria-selected="false">
        <div data-line="Ketones" class="div-block-186 _7-0-greenbg ketonea-186 tabmenu">
          <div class="ss-link evaluates-ss mobile-ss">Ketone AcAc<br></div>
          <div class="ss-link evaluates-ss ketone-ss activetext">Ketone A (AcAc)<br></div>
          <div class="div-block-218"></div>
        </div>
      </a>
      <a data-w-tab="KetonesB-Tab8" data-line="Ketones"
        class="tablink-evaluates ketoneb-tab w-inline-block w-clearfix w-tab-link" tabindex="-1"
        id="w-tabs-0-data-w-tab-7" href="#w-tabs-0-data-w-pane-7" role="tab" aria-controls="w-tabs-0-data-w-pane-7"
        aria-selected="false">
        <div class="div-block-186 _7-0-greenbg ketoneb-186 tabmenu">
          <div class="ss-link evaluates-ss mobile-ss">Ketone BHB<br></div>
          <div class="ss-link evaluates-ss ketone-ss activetext">Ketone B (BHB)<br></div>
          <div class="div-block-218"></div>
        </div>
      </a>
    </div>
    <div class="tabs-content-2 w-tab-content">
      <div data-w-tab="Magnesium-Tab1" class="tabpane w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0"
        role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0">
        <div class="evaluate-columns">
          <div class="arrows"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619ba19efbfb8babd3ccdb29_Mag.png"
              alt="" class="mag-line hide-mobile new-mag"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619ba529b939f96e9be456c3_Mag-small.png"
              alt="" class="mag-line mobile-line new">
            <div class="div-block-227 evaluates-227 evaluates-hide w-clearfix">
              <div class="w-embed w-script">
                <div class="line-way">
                  <svg class="line-wrap" style="width:0%;height:100%;position: relative;top: -100px;">
                  </svg>
                </div>
                <script>
                  $(document).ready(function () {
                    var wrap = $('.column-16').offset().top;
                    var vitTop = $('.vit-b7').offset().top;
                    var vit = (vitTop - wrap) + 120;
                    var resultTop = $('.sleep').offset().top;
                    var result = resultTop - wrap;
                    console.log(result);
                    var elemHeight = $('.columns-13').height();
                    var elemWidth = $('.column-19').width();
                    var leftStroke = elemWidth - 200;
                    var starCurve = elemWidth - 320;
                    var rightStroke = elemWidth - leftStroke
                    var rightStokeTop = result + 100;
                    var leftEndTop = result - 20;
                    $('.line-wrap').css('height', elemHeight + 100);
                  });
                </script>
              </div>
              <div class="div-block-186 line b7"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 vit-one"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 vit-two"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 vit-three"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 vit-four"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 vit-five">
                <div class="div-block-199 line-child"></div>
              </div>
              <div class="div-block-186 line hydration"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 hydration-one"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 hydration-ttwo"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 hydration-three"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 hydration-four"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 hydration-five"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 hydration-six"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 hydration-sevent"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 hydration-eight">
                <div class="div-block-199"></div>
              </div>
              <div class="div-block-186 line cortisol evaluate-line"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 cartisol-one"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 cartisol-two"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 cartisol-three"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 cartisol-four"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 cartisol-five"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 cartisol-six"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 cartisol-sevent"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb38266976fcc37cce8ab40_Line-sec.png"
                  alt="" class="image-54 cartisol-eight"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fb3825a64f8dd41cf91e8b2_Line.png"
                  alt="" class="image-53 cartisol-nine">
                <div class="div-block-199 cortisol-cover-line"></div>
              </div>
              <div class="div-block-186 line ketone-a evaluates-line"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png"
                  alt="" class="image-53 ketone-a"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png"
                  alt="" class="image-54 ketone-a">
                <div class="div-block-199"></div>
              </div>
              <div class="div-block-186 line ph"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png"
                  alt="" class="image-53 ph"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png"
                  alt="" class="image-54 ph">
                <div class="div-block-199"></div>
              </div>
              <div class="div-block-186 line calcium"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png"
                  alt="" class="image-53 calcium"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png"
                  alt="" class="image-54 calcium">
                <div class="div-block-199"></div>
              </div>
              <div class="div-block-186 line vit-b"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png"
                  alt="" class="image-53 vit-b"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png"
                  alt="" class="image-54 vit-b">
                <div class="div-block-199"></div>
              </div>
              <div class="div-block-186 line vit-c"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png"
                  alt="" class="image-53 vit-c"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png"
                  alt="" class="image-54 vit-c">
                <div class="div-block-199"></div>
              </div>
              <div class="div-block-186 line magnesium"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png"
                  alt="" class="image-53 magnesium"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png"
                  alt="" class="image-54 magnesium">
                <div class="div-block-199"></div>
              </div>
              <div class="div-block-186 line ketone-b"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png"
                  alt="" class="image-53 ketone-b"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png"
                  alt="" class="image-54 ketone-b">
                <div class="div-block-199"></div>
              </div>
              <div class="div-block-186 line creatinine"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4917ded9d51af7ec7878_Line-1.png"
                  alt="" class="image-53 creatinine"><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5faa4934bf1f8c9aa9e07c02_Line-2.png"
                  alt="" class="image-54 creatinine">
                <div class="div-block-199 creatinine"></div>
              </div>
            </div>
          </div>
          <div class="impact">
            <div data-vit="Focus" class="div-block-187 r-vit focus evaluates-focus">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Focus</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty evaluates-beauty">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Beauty</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity evaluates-immunity">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Immunity</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body evaluates-body active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Body</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep evaluates-sleep active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Sleep</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy evaluates-energy active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Energy</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Fitness" class="div-block-187 r-vit-b r-calcium fitness evaluates-endurance active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Endurance</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm evaluates-calm">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Calm</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Mood"
              class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood evaluates-mood active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Mood</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Digestion"
              class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion evaluates-digestion">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Digestion</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="Cortisol-Tab2" class="tabpane w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-1">
        <div class="evaluate-columns">
          <div class="arrows"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619ba752e1c4e254f8050fea_Cort.png"
              alt="" class="cortisol-line newspacing new"><img sizes="(max-width: 479px) 20px, 100vw"
              srcset="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/6140f28f922c6c41bc621a8e_Cortisol-Mobile-p-500.png 500w, https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/6140f28f922c6c41bc621a8e_Cortisol-Mobile.png 800w"
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/6140f28f922c6c41bc621a8e_Cortisol-Mobile.png"
              alt="" class="cortisol-line mobile"></div>
          <div class="impact">
            <div data-vit="Focus" class="div-block-187 r-vit focus evaluates-focus">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Focus</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty evaluates-beauty">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Beauty</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity evaluates-immunity">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Immunity</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body evaluates-body active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Body</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep evaluates-sleep active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Sleep</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy evaluates-energy active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Energy</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Fitness" class="div-block-187 r-vit-b r-calcium fitness evaluates-endurance">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Endurance</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm evaluates-calm active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Calm</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Mood"
              class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood evaluates-mood active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Mood</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Digestion"
              class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion evaluates-digestion">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Digestion</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="Vitamin B7 -Tab3" class="tabpane w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-2">
        <div class="evaluate-columns">
          <div class="arrows"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/61a64c4dc75efc31a2a084d1_B7-small.png"
              alt="" class="b7-line mobile new"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619ba8be14095878641227bc_B7.png"
              alt="" class="b7-line newspacing new"></div>
          <div class="impact">
            <div data-vit="Focus" class="div-block-187 r-vit focus evaluates-focus">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Focus</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty evaluates-beauty active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Beauty</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity evaluates-immunity">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Immunity</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body evaluates-body active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Body</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep evaluates-sleep">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Sleep</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy evaluates-energy">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Energy</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Fitness" class="div-block-187 r-vit-b r-calcium fitness evaluates-endurance">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Endurance</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm evaluates-calm">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Calm</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Mood" class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood evaluates-mood">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Mood</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Digestion"
              class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion evaluates-digestion">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Digestion</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="Vitamin C-Tab4" class="tabpane w-tab-pane" id="w-tabs-0-data-w-pane-3" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-3">
        <div class="evaluate-columns">
          <div class="arrows"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619ba99b85a3c9b776cf1a50_VitC.png"
              alt="" class="vitc-line newspacing"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619bab19b939f94c0ae47b63_Vit-small.png"
              alt="" class="vitc-line vitcmobile new"></div>
          <div class="impact">
            <div data-vit="Focus" class="div-block-187 r-vit focus evaluates-focus">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Focus</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty evaluates-beauty">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Beauty</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity evaluates-immunity active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Immunity</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body evaluates-body">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Body</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep evaluates-sleep">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Sleep</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy evaluates-energy">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Energy</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Fitness" class="div-block-187 r-vit-b r-calcium fitness evaluates-endurance">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Endurance</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm evaluates-calm">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Calm</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Mood"
              class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood evaluates-mood active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Mood</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Digestion"
              class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion evaluates-digestion">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Digestion</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="pH - Tab5" class="tabpane w-tab-pane" id="w-tabs-0-data-w-pane-4" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-4">
        <div class="evaluate-columns">
          <div class="arrows"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619bac8785a3c979d2cf2780_PH-small.png"
              alt="" class="ph-line mobile newspacing"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619babb1401cf92f4aa92e30_PH.png"
              alt="" class="ph-line newspacing"></div>
          <div class="impact">
            <div data-vit="Focus" class="div-block-187 r-vit focus evaluates-focus">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Focus</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty evaluates-beauty">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Beauty</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity evaluates-immunity">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Immunity</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body evaluates-body">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Body</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep evaluates-sleep">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Sleep</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy evaluates-energy">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Energy</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Endurance" class="div-block-187 r-vit-b r-calcium fitness evaluates-endurance active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Endurance</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm evaluates-calm">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Calm</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Mood" class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood evaluates-mood">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Mood</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Digestion"
              class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion evaluates-digestion">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Digestion</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="Hydration-Tab6" class="tabpane w-tab-pane" id="w-tabs-0-data-w-pane-5" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-5">
        <div class="evaluate-columns">
          <div class="arrows"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619bb0a9401cf9b949a9547b_Hyd-small.png"
              alt="" class="hydrationline mobile new"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619bafa9d35959882f2d2c35_Hyd_1.png"
              alt="" class="hydrationline newspacing"></div>
          <div class="impact">
            <div data-vit="Focus" class="div-block-187 r-vit focus evaluates-focus active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Focus</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty evaluates-beauty">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Beauty</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity evaluates-immunity">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Immunity</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body evaluates-body">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Body</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep evaluates-sleep">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Sleep</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy evaluates-energy active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Energy</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Endurance" class="div-block-187 r-vit-b r-calcium fitness evaluates-endurance active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Endurance</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm evaluates-calm">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Calm</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Mood" class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood evaluates-mood">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Mood</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Digestion"
              class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion evaluates-digestion active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Digestion</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="KetoneA-Tab7" class="tabpane w-tab-pane" id="w-tabs-0-data-w-pane-6" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-6">
        <div class="evaluate-columns">
          <div class="arrows"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619bb2abe1dde620a148332c_KeA.png"
              alt="" class="ketonea-line newspacing"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619bb238bb2a7f3166d53ce2_KeA-small.png"
              alt="" class="ketonea-line mobile-ketonea new"></div>
          <div class="impact">
            <div data-vit="Focus" class="div-block-187 r-vit focus evaluates-focus">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Focus</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty evaluates-beauty">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Beauty</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity evaluates-immunity">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Immunity</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body evaluates-body active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Body</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep evaluates-sleep">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Sleep</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy evaluates-energy">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Energy</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Fitness" class="div-block-187 r-vit-b r-calcium fitness evaluates-endurance">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Endurance</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm evaluates-calm">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Calm</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Mood" class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood evaluates-mood">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Mood</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Digestion"
              class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion evaluates-digestion">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Digestion</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="KetonesB-Tab8" class="tabpane w-tab-pane" id="w-tabs-0-data-w-pane-7" role="tabpanel"
        aria-labelledby="w-tabs-0-data-w-tab-7">
        <div class="evaluate-columns">
          <div class="arrows"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619bb2cde33f45898de50d2b_KeB-small.png"
              alt="" class="ketoneb-line mobile new"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/619bb2cd578de6d17d918341_Keb.png"
              alt="" class="ketoneb-line newspacing"></div>
          <div class="impact">
            <div data-vit="Focus" class="div-block-187 r-vit focus evaluates-focus">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Focus</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Beauty" class="div-block-187 r-vit r-hydration beauty evaluates-beauty">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Beauty</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Immunity" class="div-block-187 r-hydration r-cortisol immunity evaluates-immunity">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Immunity</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Body" class="div-block-187 r-cortisol r-ketone-a body evaluates-body active">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Body</div>
              </div>
              <div class="div-block-189 evaluates-189 active">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Sleep" class="div-block-187 r-ketone-a r-ph sleep evaluates-sleep">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Sleep</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Energy" class="div-block-187 r-ph r-calcium energy evaluates-energy">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Energy</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Fitness" class="div-block-187 r-vit-b r-calcium fitness evaluates-endurance">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Endurance</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Calm" class="div-block-187 r-vit-c r-vit-b calm evaluates-calm">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Calm</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Mood" class="div-block-187 r-vit-c r-magnesium r-ketone-b r-creatinine mood evaluates-mood">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Mood</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
            <div data-vit="Digestion"
              class="div-block-187 r-magnesium r-ketone-b r-creatinine digestion evaluates-digestion">
              <div class="div-block-188">
                <div class="ss-result evaluates-result">Digestion</div>
              </div>
              <div class="div-block-189 evaluates-189">
                <div class="text-block-39 evaluates-39"><span class="studies">5</span> studies</div><img
                  src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5f7766aaf71fc1c6bcde8587_prev-arrow.png"
                  alt="" class="image-49 evaluates-49">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'evaluates-result' %}


{% schema %}
  {
    "name": "RG Evaluates",
    "class": "spaced-section spaced-section--full-width",
    "tag": "section",
    "settings": [
      {
        "id": "title",
        "type": "textarea",
        "label": "Heading",
        "default": "What Vessel evaluates"
      },
      {
        "id": "text",
        "type": "textarea",
        "label": "Text",
        "default": "A little pee goes a long way in tracking whats going on in your body."
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "button_title",
        "label": "Button title"
      },
      {
        "type": "select",
        "id": "heading_type",
        "label": "Heading type",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "block",
            "label": "Block"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "RG Evaluates",
        "category": "RG"
      }
    ]
  }
{% endschema %}