{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="robots" content="noindex,follow"/>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}

{%- endif -%}
{{ 'rg-membership.css' | asset_url | stylesheet_tag }}
{% assign product = all_products['pre-order-bloom'] %}
{% for variant in product.variants %}
{% for allocation in variant.selling_plan_allocations %}
    {% assign selling_id = allocation.selling_plan.id  %}
  {% endfor %}
{% endfor %}

{% assign product = all_products['giving-the-gift-of-wellness-gift-card'] %}
{% for variant in product.variants %}
{% for allocation in variant.selling_plan_allocations %}
    {% assign gift_selling_id = allocation.selling_plan.id  %}
  {% endfor %}
{% endfor %}

<div class="section membership wf-section">
  <div class="container-13 page-width">
    <div class="div-block-65">
      <div class="div-block-72 membership-header">
        <h2 class="heading-59 lg-show h1">Choose the membership that works best for you</h2>
        <p>Affordable pricing for any budget.</p>
        <h1 class="heading-59 mobile membership h1 xs-show">Choose Membership<br></h1>
      </div>
    </div>
  </div>
  <div class="container-13 second page-width">
    <div class="membership">
      <div class="div-block-170">
        <h3 class="heading-36 wellness">How often would you like to test?<br></h3>
      </div>
      <div class="options">
        <div class="w-form">
          <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form" class="form-2">
            <ul class="choose-options">
              <li value="daily"><div>Daily</div></li>
              <li value="Weekly" class="active"><div>Weekly <span>Recommended</span></div></li>
              <li value="Monthly"><div>Monthly</div></li>
            </ul>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="membership-options-mobile xs-show">

      <div class="membership-subhead mobile">
        <div class="text-block-41 sold">Due to high demand, over <span class="numb">  </span>test cards sold, orders
          placed today will ship by February <span>15</span>th.</div>
      </div>
      <div class="membership-option-wrap one-year single-membership-card">
        <div class="best-value mobile membership-bestvalue">Best Value</div>
        <a data-product-id="40619087724730" data-selling-plan="{{selling_id}}" data-time="12 month" href="#"
          class="membership-option dark-bt best-value w-inline-block">
          <h3 class="heading-91">12 Month Membership</h3>
          <p class="p-mem save mem-1 mobile">‍<span class="percent mem-1"> </span><br></p>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit">4 card(s) per month</p>
              <p class="p-mem cards mem-1 mobile">Free Shipping<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount">35</h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
        </a>
      </div>
      <div class="membership-option-wrap six-month single-membership-card">
        <a href="#" data-product-id="41061295751354" data-selling-plan="{{selling_id}}" data-time="6 month"
          class="membership-option dark-bt w-inline-block">
          <h3 class="heading-91">6 Month Membership</h3>
          <p class="p-mem save mem-1 mobile">‍<span class="percent mem-1"> </span><br></p>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit">4 card(s) per month</p>
              <p class="p-mem cards mem-1 mobile">Free Shipping<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount">40</h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
        </a>
      </div>
      <div class="membership-option-wrap one-week one-month single-membership-card">
        <a href="#" data-product-id="40619087626426" data-selling-plan="{{selling_id}}" data-time="month"
          class="membership-option dark-bt w-inline-block">
          <h3 class="heading-91">Monthly Membership</h3>
          <p class="p-mem save mem-1 mobile monthly hide-save-text">Save $<span class="price">180</span> <span
              class="percent mem-1">
            </span><br></p>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit"><span class="card-amount">4 card(s) per
                  month</span><br></p>
              <p class="p-mem cards mem-1 mobile">Free Shipping<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount">50</h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="div-block-67 membership">
      <div class="div-block-66 satu one-week single-membership-card flex-column one-month">
        <div class="div-block-168">
          <p class="paragraph option">Monthly Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71 first">
            <h4 class="heading-35 currency">$</h4>
            <h2 class="heading-35 amount">50</h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem cards mem-1">Free Shipping<br></p>
          <p class="p-mem cards mem-1">Free Wellness Coaching<br></p>
        </div>
        <div>
          
        </div>
        <a data-product-id="40619087626426" data-selling-plan="{{selling_id}}" data-time="month" href="#"
          class="dark-bt member w-button">Choose</a>
      </div>
      <div class="div-block-66 enam six-month single-membership-card flex-column">
        <span class="discount">Save $60</span>
        <div class="div-block-168">
          <p class="paragraph option">6 Month Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71">
            <h4 class="heading-35 currency">$</h4>
            <h2 class="heading-35 amount">40</h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem cards mem-1">Free Shipping<br></p>
          <p class="p-mem cards mem-1">Free Wellness Coaching<br></p>
        </div>
        <a data-product-id="41061295751354" data-selling-plan="{{selling_id}}" data-time="6 month" href="#"
          class="dark-bt member w-button">Choose</a>
      </div>
      <div class="div-block-66 duabelas one-year membership single-membership-card flex-column">
        <span class="discount">Save $180</span>
        <div class="div-block-168">
          <p class="paragraph option">12 Month Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71">
            <h4 class="heading-35 currency">$</h4>
            <h2 class="heading-35 amount">35</h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem cards mem-1">Free Shipping<br></p>
          <p class="p-mem cards mem-1">Free Wellness Coaching<br></p>
        </div>
        <a data-product-id="40619087724730" data-selling-plan="{{selling_id}}" data-time="12 month" href="#"
          class="dark-bt member w-button">Choose</a>
      </div>
    </div>
  </div>
</div>
<div class="membership-section-bottom wf-section">
  <div class="container-28">
    <div class="page-width responsive-page-width">
      <div class="div-block-65 bottom membership">
        <div class="div-block-115">
          <div class="div-block-167 membership"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fbc110a4478b449e789036e_easily-pause.png"
              loading="lazy" alt="" class="image-42" width="90">
            <div>
              <h3 class="heading-70">Easily Pause or<br>Change</h3>
              <p class="paragraph membership">Anytime with just a click<br></p>
            </div>
          </div>
          <div class="div-block-167 membership"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fbc111e61edc2273607326d_30-day.png"
              loading="lazy" alt="" class="image-42" width="90">
            <div>
              <h3 class="heading-70">30-day<br>Guarantee</h3>
              <p class="paragraph membership">Don't love it, It's on us<br></p>
            </div>
          </div>
          <div class="div-block-167 membership"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fbc112ff0ad2b0d0ebe9eed_get-give.png"
              loading="lazy" alt="" class="image-42" width="90">
            <div>
              <h3 class="heading-70">Get Healthy, <br>Give Healthy</h3>
              <p class="paragraph membership">Every card gives a child nutrition<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-grow-1 {
    flex-grow: 1;
  }
</style>

<script>
  (function () {

    // select option
    $(".choose-options li").click(function (e) {
      e.preventDefault();
      $(".choose-options li").removeClass('active');
      $(this).addClass('active');
      // daily / monthly / yearly
      if ($(this).attr('value') == "daily") {
        // daily
        $('.one-week h2').text("350");
        // 6 month
        $('.six-month h2').text("280");
        $('.six-month .discount').text("Save $420");
        // 12 month
        $('.one-year h2').text("245");
        $('.one-year .discount').text("Save $1,260");

        // variant ID  one-week
        $('.one-week .member,.one-week .membership-option').attr('data-product-id', '40619087986874');
        // variant ID  six month
        $('.six-month .member,.six-month .membership-option').attr('data-product-id', '40619088019642');
        // variant ID  12 month
        $('.one-year .member,.one-year .membership-option').attr('data-product-id', '40619088085178');

        // select text
        $(".count-and-unit").text("30 card(s) per month");
      } else if ($(this).attr('value') == "Monthly") {
        // Monthly
        $('.one-week h2').text("30");
        // 6 month
        $('.six-month h2').text("25");
        $('.six-month .discount').text("Save $30");
        // 12 month
        $('.one-year h2').text("20");
        $('.one-year .discount').text("Save $120");

        // variant ID  one-week
        $('.one-week .member,.one-week .membership-option').attr('data-product-id', '40619087790266');
        // variant ID  six month
        $('.six-month .member,.six-month .membership-option').attr('data-product-id', '40619087855802');
        // variant ID  12 month
        $('.one-year .member,.one-year .membership-option').attr('data-product-id', '40619087921338');

        // select text
        $(".count-and-unit").text("1 card(s) per month");
      } else {
        // Monthly
        $('.one-week h2').text("50");
        // 6 month
        $('.six-month h2').text("40");
        $('.six-month .discount').text("Save $60");
        // 12 month
        $('.one-year h2').text("35");
        $('.one-year .discount').text("Save $180");

        // variant ID  one-week
        $('.one-week .member,.one-week .membership-option').attr('data-product-id', '40619087626426');
        // variant ID  six month
        $('.six-month .member,.six-month .membership-option').attr('data-product-id', '41061295751354');
        // variant ID  12 month
        $('.one-year .member,.one-year .membership-option').attr('data-product-id', '40619087724730');

        // select text
        $(".count-and-unit").text("4 card(s) per month");
      }
    });

    // add to cart
    $('.member,.membership-option').click(function (e) {
      e.preventDefault();

      var productID = $(this).data("product-id"),
        selling_plan_ID = $(this).data("selling-plan"),
        integerID = parseInt(productID);

      if (integerID) {
        clearCartItems((isClear) => {
          if (isClear) {
            addItemToCart(integerID, 1, selling_plan_ID);
          }
        })
      }
    });

    function clearCartItems(cb) {
      jQuery.ajax({
        type: 'POST',
        url: '/cart/clear.js',
        data: '',
        dataType: 'json',
        success: function () {
          if (cb) cb(true);
        }
      });
    };
    // Data passing

    function addItemToCart(variant_id, qty, selling_plan) {
      if (selling_plan != undefined) {
        data = {
          "id": variant_id,
          "quantity": qty,
          "selling_plan": selling_plan
        }
      } else {
        data = {
          "id": variant_id,
          "quantity": qty
        }
      }

      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function () {
          window.location = '/checkout';
        }
      });
      //window.location = '/checkout';
    }

  })();
</script>


{% schema %}
{
"name": "Membership 2",
"class": "new-membership-section",
"settings": [],
"blocks": [
{
"type": "testimonial_top",
"name": "Testimonial top",
"limit": 1,
"settings": [
{
"type": "header",
"content": "Column 1"
},
{
"type": "image_picker",
"id": "image1",
"label": "Image"
},
{
"type": "textarea",
"id": "title1",
"label": "Title"
},
{
"type": "textarea",
"id": "text1",
"label": "Text"
},
{
"type": "header",
"content": "Column 2"
},
{
"type": "image_picker",
"id": "image2",
"label": "Image"
},
{
"type": "textarea",
"id": "title2",
"label": "Title"
},
{
"type": "textarea",
"id": "text2",
"label": "Text"
},
{
"type": "header",
"content": "Column 3"
},
{
"type": "image_picker",
"id": "image3",
"label": "Image"
},
{
"type": "textarea",
"id": "title3",
"label": "Title"
},
{
"type": "textarea",
"id": "text3",
"label": "Text"
}
]
}
],
"presets": [
{
"category": "Memebership",
"name":"Featured membership new"
}
]
}
{% endschema %}
