{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
{{ 'rg-membership.css' | asset_url | stylesheet_tag }}

{%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="robots" content="noindex,follow"/>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{% assign product = all_products['giving-the-gift-of-wellness-gift-card'] %}
{% for variant in product.variants %}
{% for allocation in variant.selling_plan_allocations %}
    {% assign gift_selling_id = allocation.selling_plan.id  %}
  {% endfor %}
{% endfor %}

<div class="section membership wf-section">
  <div class="container-13 page-width">
    <div class="div-block-65">
      <div class="div-block-72 membership-header">
        <h2 class="heading-59 lg-show h1 text-center">{{section.settings.title}}</h2>
        <h1 class="heading-59 mobile membership h1 xs-show">{{section.settings.title}}</h1>
      </div>
    </div>
  </div>
  <div class="container-13 second page-width">
    <div class="membership">
      <div class="div-block-170">
        <h3 class="heading-36 wellness">{{section.settings.subtitle}}<br></h3>
      </div>
      <div class="options">
        <div class="w-form">
          <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form" class="form-2">
            <ul class="choose-options">
              <li value="daily"><div>Daily</div></li>
              <li value="Weekly" class="active"><div>Weekly <span>Recommended</span></div></li>
              <li value="Monthly"><div>Monthly</div></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <div class="membership-options-mobile xs-show">

      <div class="membership-subhead mobile">
        <div class="text-block-41 sold">Due to high demand, over <span class="numb">  </span>test cards sold, orders
          placed today will ship by February <span>15</span>th.</div>
      </div>
      <div class="membership-option-wrap one-year single-membership-card">
        <span class="discount"></span>
        <div>
          <h3 class="heading-91">12 Month Membership</h3>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit">4 card(s) per month</p>
              <p class="p-mem cards mem-1 mobile">Free shipping<br></p>
              <p class="p-mem cards mem-1 mobile">Free wellness coaching<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount"></h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
          <a data-product-id="" data-time="12 month" href="#"
          class="membership-option dark-bt w-inline-block">Choose</a>
        </div>
      </div>
      <div class="membership-option-wrap six-month single-membership-card">
        <span class="discount"></span>
        <div>
          <h3 class="heading-91">6 Month Membership</h3>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit">4 card(s) per month</p>
              <p class="p-mem cards mem-1 mobile">Free shipping<br></p>
              <p class="p-mem cards mem-1 mobile">Free wellness coaching<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount"></h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
          <a href="#" data-product-id="" data-time="6 month"
          class="membership-option dark-bt w-inline-block">Choose</a>
        </div>
          
      </div>
      <div class="membership-option-wrap one-week one-month single-membership-card">
        
        
          <h3 class="heading-91">Monthly Membership</h3>
          <p class="p-mem save mem-1 mobile monthly hide-save-text">Save $<span class="price">180</span> <span
              class="percent mem-1">
            </span><br></p>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit"><span class="card-amount">4 card(s) per
                  month</span><br></p>
              <p class="p-mem cards mem-1 mobile">Free shipping<br></p>
              <p class="p-mem cards mem-1 mobile">Free wellness coaching<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount"></h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
          <a href="#" data-product-id="" data-time="month"
          class="membership-option dark-bt w-inline-block">choose</a>
      </div>
    </div>

    <div class="div-block-67 membership">
      <div class="div-block-66 satu one-week single-membership-card flex-column one-month">
        <div class="div-block-168">
          <p class="paragraph option">Monthly Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71 first">
            <h4 class="heading-35 currency">$</h4>
            <h2 class="heading-35 amount"></h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="anually-price">Pay <span></span> annually</p>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem cards mem-1">Free shipping<br></p>
          <p class="p-mem cards mem-1">Free wellness coaching<br></p>
        </div>
        <div>
          
        </div>
        <a data-product-id="" data-time="month" href="#" class="dark-bt member w-button">Choose</a>
      </div>
      <div class="div-block-66 enam six-month single-membership-card flex-column">
        <span class="discount"></span>
        <div class="div-block-168">
          <p class="paragraph option">6 Month Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71">
            <h4 class="heading-35 currency">$</h4>
            <h2 class="heading-35 amount"></h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="anually-price">Pay <span></span> annually</p>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem cards mem-1">Free shipping<br></p>
          <p class="p-mem cards mem-1">Free wellness coaching<br></p>
        </div>
        <a data-product-id="" data-time="6 month" href="#" class="dark-bt  member w-button">Choose</a>
      </div>
      <div class="div-block-66 duabelas one-year membership single-membership-card flex-column">
        <span class="discount"></span>
        <div class="div-block-168">
          <p class="paragraph option">12 Month Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71">
            <h4 class="heading-35 currency">$</h4>
            <h2 class="heading-35 amount"></h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="anually-price">Pay <span></span> annually</p>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem cards mem-1">Free shipping<br></p>
          <p class="p-mem cards mem-1">Free wellness coaching<br></p>
        </div>
        <a data-product-id="" data-time="12 month" href="#" class="dark-bt  member w-button">Choose</a>
      </div>
    </div>
  </div>
</div>
<div class="membership-section-bottom wf-section">
  <div class="container-28">
    <div class="page-width responsive-page-width">
      <div class="div-block-65 bottom membership">
        <div class="div-block-115">
          {% for block in section.blocks %}
            <div class="div-block-167 membership"><img
              src="{{block.settings.icon | img_url: 'original'}}"
              loading="lazy" alt="" class="image-42" width="90">
            <div>
              <h3 class="heading-70">{{block.settings.title}}</h3>
              <p class="paragraph membership">{{block.settings.subtitle}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-grow-1 {
    flex-grow: 1;
  }
</style>

{% schema %}
{
"name": "Membership 2",
"class": "new-membership-section upfront",
"settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Choose the membership that works best for you"
  },
  {
    "type": "text",
    "id": "subtitle",
    "label": "Sub title",
    "default": "How often would you like to test?"
  }
],
"blocks": [
  {
    "type": "icon",
    "name": "icon",
    "settings": [
      {
        "type": "image_picker",
        "id": "icon",
        "label": "icon"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ]
  }
],
"presets": [
{
"category": "Memebership",
"name":"Featured membership new"
}
]
}
{% endschema %}
