{{ 'rg-membership.css' | asset_url | stylesheet_tag }}
{% assign product = all_products['pre-order-bloom'] %}
{% for variant in product.variants %}
{% for allocation in variant.selling_plan_allocations %}
    {% assign selling_id = allocation.selling_plan.id  %}
  {% endfor %}
{% endfor %}

{% assign product = all_products['giving-the-gift-of-wellness-gift-card'] %}
{% for variant in product.variants %}
{% for allocation in variant.selling_plan_allocations %}
    {% assign gift_selling_id = allocation.selling_plan.id  %}
  {% endfor %}
{% endfor %}


<div class="section membership wf-section">
  <div class="container-13 page-width">
    <div class="div-block-65">
      <div class="div-block-72 membership-header">
        <h1 class="heading-59 membership lg-show h1">Choose Your Membership<br></h1>
        <h1 class="heading-59 mobile membership h1 xs-show">Choose Membership<br></h1>
      </div>
    </div>
  </div>
  <div class="container-13 second page-width">

    <div class="membership-options-mobile xs-show">

      <div class="membership-subhead mobile">
        <div class="text-block-41 sold">Due to high demand, over <span class="numb">  </span>test cards sold, orders
          placed today will ship by February <span>15</span>th.</div>
      </div>
      <div class="membership-option-wrap one-year single-membership-card">
        <div class="best-value mobile membership-bestvalue">Best Value</div>
        <a data-product-id="40619087724730" data-selling-plan="{{selling_id}}" data-time="12 month"  href="#" class="membership-option dark-bt best-value w-inline-block">
          <h3 class="heading-91">12 Month Membership</h3>
          <p class="p-mem save mem-1 mobile">‍<span class="percent mem-1"> </span><br></p>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit">4 card(s) per month</p>
              <p class="p-mem cards mem-1 mobile">Free Shipping<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount">35</h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
        </a>
      </div>
      <div class="membership-option-wrap six-month single-membership-card">
        <a href="#" data-product-id="41061295751354" data-selling-plan="{{selling_id}}" data-time="6 month"
           class="membership-option dark-bt w-inline-block">
          <h3 class="heading-91">6 Month Membership</h3>
          <p class="p-mem save mem-1 mobile">‍<span class="percent mem-1"> </span><br></p>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit">4 card(s) per month</p>
              <p class="p-mem cards mem-1 mobile">Free Shipping<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount">40</h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
        </a>
      </div>
      <div class="membership-option-wrap one-week one-month single-membership-card">
        <a href="#" data-product-id="40619087626426" data-selling-plan="{{selling_id}}" data-time="month"
           class="membership-option dark-bt w-inline-block">
          <h3 class="heading-91">Monthly Membership</h3>
          <p class="p-mem save mem-1 mobile monthly hide-save-text">Save $<span class="price">180</span> <span class="percent mem-1">
            </span><br></p>
          <div class="div-block-229">
            <div class="div-block-230">
              <p class="p-mem cards mem-1 mobile count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
              <p class="p-mem cards mem-1 mobile">Free Shipping<br></p>
            </div>
            <div class="div-block-231">
              <div class="membersip-price-symbols money">$</div>
              <h2 class="membership-price amount">50</h2>
              <div class="membersip-price-symbols">per mo</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="div-block-67 membership">
      <div class="div-block-66 satu one-week single-membership-card flex-column one-month">
        <div class="div-block-168">
          <h3 class="heading-32 option">Monthly</h3>
          <p class="paragraph option">Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71 first">
            <h4 class="heading-37">$</h4>
            <h2 class="heading-35 amount">50</h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem save first mem-1">Saved $60 (20%)<br></p>
        </div>
        <div>
          <p class="p-mem ship option">Free Shipping<br></p>
        </div>
        <a data-product-id="40619087626426" data-selling-plan="{{selling_id}}" data-time="month" href="#" class="dark-bt member w-button">Choose</a>
      </div>
      <div class="div-block-66 enam six-month single-membership-card flex-column">
        <div class="div-block-168">
          <h3 class="heading-32 option">6 Month<br></h3>
          <p class="paragraph option">Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71">
            <h4 class="heading-37">$</h4>
            <h2 class="heading-35 amount">40</h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem save mem-1 hide-save-text">Save $<span class="price">60</span> <span class="percent mem-1">
            </span><br></p>
        </div>
        <div>
          <p class="p-mem ship option">Free Shipping<br></p>
        </div>
        <a data-product-id="41061295751354" data-selling-plan="{{selling_id}}" data-time="6 month" href="#" class="dark-bt member w-button">Choose</a>
      </div>
      <div class="div-block-66 duabelas one-year membership single-membership-card flex-column">
        <div class="div-block-168">
          <h3 id="addToCartButton" class="heading-32 option">12 Month<br></h3>
          <p class="paragraph option">Membership<br></p>
        </div>
        <div class="div-block-70 flex-grow-1">
          <div class="div-block-71">
            <h4 class="heading-37">$</h4>
            <h2 class="heading-35 amount">35</h2>
            <p class="p-mem">/ month</p>
          </div>
          <p class="p-mem cards mem-1 count-and-unit"><span class="card-amount">4 card(s) per month</span><br></p>
          <p class="p-mem save mem-1 hide-save-text">Save $<span class="price">180</span> <span class="percent mem-1">
            </span><br></p>
        </div>
        <div>
          <p class="p-mem ship option">Free Shipping<br></p>
        </div>
        <a data-product-id="40619087724730" data-selling-plan="{{selling_id}}" data-time="12 month" href="#" class="dark-bt member w-button">Choose</a>
      </div>
    </div>

    <div class="div-block-68 membership">
      <div class="div-block-170">
        <h3 class="heading-36 wellness">How often would you like to test?<br></h3>
        <p class="paragraph option">You can change this at any time.<br></p>
      </div>
      <div class="div-block-169">
        <div class="w-form">
          <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form" class="form-2">
            <select
              id="field" name="field" class="select-field weekopt w-select">
              <option value="Weekly">Once a Week</option>
              <option value="daily">Once a Day</option>
              <option value="Monthly">Once a Month</option>
            </select>
            <div class="recommend">*recommended</div>
            <div class="cards-per-mo cards">/</div>
            <div class="cards-per-mo cards count-and-unit">4 card(s) per month</div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="membership-section-bottom wf-section">
  <div class="container-28">
    <div class="page-width responsive-page-width">
      <div class="div-block-65 bottom membership">
        <div class="div-block-115">
          <div class="div-block-167 membership"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fbc110a4478b449e789036e_easily-pause.png"
              loading="lazy" alt="" class="image-42" width="90">
            <div>
              <h3 class="heading-70">Easily Pause or<br>Change</h3>
              <p class="paragraph membership">Anytime with just a click<br></p>
            </div>
          </div>
          <div class="div-block-167 membership"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fbc111e61edc2273607326d_30-day.png"
              loading="lazy" alt="" class="image-42" width="90">
            <div>
              <h3 class="heading-70">30-day<br>Guarantee</h3>
              <p class="paragraph membership">Don't love it, It's on us<br></p>
            </div>
          </div>
          <div class="div-block-167 membership"><img
              src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5fbc112ff0ad2b0d0ebe9eed_get-give.png"
              loading="lazy" alt="" class="image-42" width="90">
            <div>
              <h3 class="heading-70">Get Healthy, <br>Give Healthy</h3>
              <p class="paragraph membership">Every card gives a child nutrition<br></p>
            </div>
          </div>
        </div>
        <div class="white-bg membership"></div>
      </div>

      <div class="customer-testimonials-wrapper">
        <div class="grid-flex grid-flex-grow medium-up--one-half">
          <div class="column-29 grid_item">
            <h1 class="heading-90">Customer<br>Testimonials<br></h1>
            <div class="testimonial-wrap paragraph"><img
                src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e8e14cb5d4b89179295a5cf_quote.png"
                loading="lazy" alt="" class="testiquote">
              <p>I started using Vessel last week, and I start eating some healthier foods, some fresh fruits and change
                my workout routine. I saw my wellness score go up, I’ve been able to see my energy go up a lot within a
                week as well and I’m really excited to keep using.</p>
              <h3 class="testimonial-name">Nicole Stenett</h3>
              <div>Pittsburgh, PA</div>
            </div>
          </div>
          <div class="column-30 grid_item">
            <div class="testimonial-wrap paragraph"><img
                src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e8e14cb5d4b89179295a5cf_quote.png"
                loading="lazy" alt="" class="testiquote">
              <p>[Since using Vessel] I've incorporated 10 minutes of meditation and yoga to help my sleep and cortisol
                level … Vessel is what I've always dreamed of.</p>
              <h3 class="testimonial-name">Debra Luczycki</h3>
              <div>Norman, OK</div>
            </div>
            <div class="testimonial-wrap paragraph"><img
                src="https://assets-global.website-files.com/5e66a7d548da8021e9b9ce56/5e8e14cb5d4b89179295a5cf_quote.png"
                loading="lazy" alt="" class="testiquote">
              <p>I would rather [test with Vessel] than wait three hours in the doctor's office just to get in. And it's
                not just the three hours, it's the commuting back and forth, and then the waiting room. And then, you
                know, people don't go to the doctor when they're healthy, so now you're in a room full of sick people
                and you're healthy. And you're like, well, if I wasn't going to get sick, now I am.</p>
              <h3 class="testimonial-name">Sumit Bose</h3>
              <div>New York, NY</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .flex-column {
      display: flex;
      flex-direction: column;
    }

    .flex-grow-1 {
      flex-grow: 1;
    }
</style>

<script>
  ( function () {

    // select option
    $(".select-field").change(function(){

      // daily / monthly / yearly
      if( $(this).val() == "daily" ){
        // daily
        $('.one-week h2').text("350");
        // 6 month
        $('.six-month h2').text("280");
        // 12 month
        $('.one-year h2').text("245");

        // variant ID  one-week
        $('.one-week .member,.one-week .membership-option').attr('data-product-id', '40619087986874');
        // variant ID  six month
        $('.six-month .member,.six-month .membership-option').attr('data-product-id', '40619088019642');
        // variant ID  12 month
        $('.one-year .member,.one-year .membership-option').attr('data-product-id', '40619088085178');

        // select text
        $(".count-and-unit").text("30 card(s) per month");
      } else if ( $(this).val() == "Monthly" ) {
        // Monthly
        $('.one-week h2').text("30");
        // 6 month
        $('.six-month h2').text("25");
        // 12 month
        $('.one-year h2').text("20");

        // variant ID  one-week
        $('.one-week .member,.one-week .membership-option').attr('data-product-id', '40619087790266');
        // variant ID  six month
        $('.six-month .member,.six-month .membership-option').attr('data-product-id', '40619087855802');
        // variant ID  12 month
        $('.one-year .member,.one-year .membership-option').attr('data-product-id', '40619087921338');

        // select text
        $(".count-and-unit").text("1 card(s) per month");
      } else {
        // Monthly
        $('.one-week h2').text("50");
        // 6 month
        $('.six-month h2').text("40");
        // 12 month
        $('.one-year h2').text("35");

        // variant ID  one-week
        $('.one-week .member,.one-week .membership-option').attr('data-product-id', '40619087626426');
        // variant ID  six month
        $('.six-month .member,.six-month .membership-option').attr('data-product-id', '41061295751354');
        // variant ID  12 month
        $('.one-year .member,.one-year .membership-option').attr('data-product-id', '40619087724730');

        // select text
        $(".count-and-unit").text("4 card(s) per month");
      }
    });

    // add to cart
    $('.member,.membership-option').click(function(e){
      e.preventDefault();

      var productID = $( this ).data("product-id"),
          selling_plan_ID = $( this ).data("selling-plan"),
          integerID  = parseInt(productID);
      
      if(integerID) {
        clearCartItems((isClear)=>{
          if(isClear) { 
            addItemToCart(integerID, 1, selling_plan_ID);
            }
        })
      }
    });

    function clearCartItems(cb){
         jQuery.ajax({
          type: 'POST',
          url: '/cart/clear.js',
          data: '',
          dataType: 'json',
          success: function() {
           	if(cb) cb(true);
          }
        });
    };
    // Data passing

    function addItemToCart(variant_id, qty, selling_plan) {
      if (selling_plan != undefined ) {
        data = {
          "id": variant_id,
          "quantity": qty,
          "selling_plan": selling_plan
        }
      } else {
        data = {
          "id": variant_id,
          "quantity": qty
        }
      }
      
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() {
          window.location = '/checkout';
        }
      });
      //window.location = '/checkout';
    }

  })();
</script>


{% schema %}
{
"name": "Membership",
"settings": [],
"blocks": [
{
"type": "testimonial_top",
"name": "Testimonial top",
"limit": 1,
"settings": [
{
"type": "header",
"content": "Column 1"
},
{
"type": "image_picker",
"id": "image1",
"label": "Image"
},
{
"type": "textarea",
"id": "title1",
"label": "Title"
},
{
"type": "textarea",
"id": "text1",
"label": "Text"
},
{
"type": "header",
"content": "Column 2"
},
{
"type": "image_picker",
"id": "image2",
"label": "Image"
},
{
"type": "textarea",
"id": "title2",
"label": "Title"
},
{
"type": "textarea",
"id": "text2",
"label": "Text"
},
{
"type": "header",
"content": "Column 3"
},
{
"type": "image_picker",
"id": "image3",
"label": "Image"
},
{
"type": "textarea",
"id": "title3",
"label": "Title"
},
{
"type": "textarea",
"id": "text3",
"label": "Text"
}
]
}
]
}
{% endschema %} 
